.listItem:hover {
    text-decoration: line-through;
    text-decoration-color: grey;
}

.finished-item {
    text-decoration: line-through;
    /* Add any other styles for finished items */
}

ul{
    border:solid;
    border-width: 1px;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;

    width: fit-content;
    
}